doctype html
html
  head
    title Thenmap
    meta(name="viewport", content="width=device-width")

  style.
    @font-face {
      font-family: 'thenmap-icon';
      src:url('//static.jplusplus.se/iconfonts/thenmap.eot?jj7e03');
      src:url('//static.jplusplus.se/iconfonts/thenmap.eot?#iefixjj7e03') format('embedded-opentype'),
          url('//static.jplusplus.se/iconfonts/thenmap.ttf?jj7e03') format('truetype'),
          url('//static.jplusplus.se/iconfonts/thenmap.woff?jj7e03') format('woff'),
          url('//static.jplusplus.se/iconfonts/thenmap.svg?jj7e03#thnmp') format('svg');
      font-weight: normal;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .jpluspluslogo{
      font-family: "thenmap-icon";
      position:relative;
      margin:0 2em 0 1em;
      font-size: 1.5em;
      vertical-align: middle;
    }
    .jpluspluslogo > span {position:absolute;left:0;color:#ffd2a2f7}
    .jpluspluslogo > span:first-child {color:#3ad0d0}
    .jpluspluslogo > span:last-child {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}

  body
    article

      div#map

      footer
        p(style="float:left")
          span.jpluspluslogo(title="Journalism++", aria-label="J++")
            span j
            span +
            span +
          span #[a(href="http://www.thenmap.net") Thenmap] by #[a(href="http://jplusplus.se") Journalism++ Stockholm]

    script(src="//drvkoaf101245.cloudfront.net/thenmap-1.0.5.min.js")
    script.
      var settings = {
        dataKey: "!{activeDatakey}",
        dataset: "!{activeDataset}",
        date: "!{date}",
        language: "#{activeLanguage}",
        projection: "#{requestedProjection}",
        width:!{width},
        height:!{height},
      }
      Thenmap.init("map", settings);
